html, body, #root {
  height: 100%;
}

.bg-primary {
  width: calc(100vh / 6);
}

.category {
  border: solid 1px black;
  margin: 10px;
}

.my-row {
  border: 1px solid black;
}

.my-col {
  border: 1px solid black;
}
